/* index.html layout */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Navigation Bar */
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: black;
}

li {
    width: 200px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/* Main Text */
#homepage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#description {
    margin-top: 100px;
}

#features {
    display: flex
}

#clock {
    margin-left: 20px;
}

/* Footer */
footer {
    background-color: white;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 50px;
}

/* To-Do List Page Styles */

/* layout for page */
#to-do-header {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Help Button */
.question-btn {
    border-radius: 50%;
    font-size: xx-large;
    font-weight: bold;
    background-color: black;
    color: white;
    margin-left: 25px;
}

/* Styling for adding a new task */
#new-task {
    font-size: 15px;
    width: 250px;
    height: 25px;
}

#add-bttn {
    height: 32px;
    width: 60px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

/* List Styles */

/* Styling for tasks in to-do list */
form {
    margin-bottom: 30px;
}

/* Cross-off completed task */
.complete {
    text-decoration-line: line-through;
    text-decoration-thickness: 2.5px;
}

/* Styling for delete and edit buttons in to-do list */
.list-btn {
    width: 60px;
    margin-left: 15px;
    font-size: medium;
}

/* Have each task as an in-line item */
.task-item {
    display: inline-block;
    min-width: 250px;
}

/* Styling for checkbox in to-do list */
input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 15px;
}

/* Style input box for editing */
.edit-input {
    min-width: 241px;
    min-height: 25px;
    font-size: 15px;
}

/* Pomodoro Clock Page Styles */

#clock-container {
    display: flex;
    flex-direction: column;
}

#pomodoro-clock {
    margin: 50px auto;
    text-align: center;
    font-size: 60px;
}

#focus-break {
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
}

/* Clock Interface */
#clock-interface p {
    display: inline;
    font-size: 100px;
}

#clock-interface {
    border: solid;
    width: 390px;
    height: 120px;
    text-align: center;
    vertical-align: center;
    margin: auto;
}

#clock-btn {
    margin: 20px auto;
}

#clock-btn button {
    width: 130px;
    font-size: medium;
    padding: 5px;
    font-weight: bold;
}

#clock-btn button:hover {
    background-color: silver;
}

/* To-Do List Help Guide Styles */

.help-headers {
    text-align: center;
    margin-bottom: 50px;
    font-size: xx-large;
}

#help-container{
    border: 5px black solid;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 75px;
}

#help-container h1 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
}

#help-container div {
    margin: 100px;
    border: 2px black solid;
    padding: 50px;
}

.help-button {
    margin: 20px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: black;
    color: white;
}

/* vertically align help button in header */
#pomodoro-clock button {
    width: 50px;
    height: 50px;
    vertical-align: text-top;
}

.steps {
    padding-left: 35px;
}




